/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Old+Standard+TT:wght@400;700&family=Poppins:ital,wght@0,500;0,600;0,700;1,100&family=Prata&family=Roboto:wght@300;500;900&display=swap");
:root {
  --bg-color: rgba(23, 23, 23, 1);
  --font-caveat: "Caveat", cursive;
  --font-poppins: "Poppins", cursive;
  --font-old-standard-tt: "Old Standard TT", serif;
  --font-prata: "Prata", serif;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

/* font-family: 'Caveat', cursive;
font-family: 'Old Standard TT', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Prata', serif; */

* {
  transition: all 0.3s;
}
body {
  background-color: var(--bg-color);
  font-family: "Roboto", sans-serif;
}
/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

* {
  color: white !important;
} */
.effect-1,
.effect-2 {
  overflow: hidden;
}

.accent-btn {
  @apply px-[1rem] py-[.75rem] bg-black text-white mt-4 mr-2 font-medium;
}

.accent-btn:hover {
  @apply px-[1.5rem] py-[.85rem];
}

.accent-btn-lite {
  @apply px-[1rem] py-[.5rem] bg-white text-black border-4 border-black mt-4 font-medium;
}

.accent-btn-lite:hover {
  @apply px-[1.5rem] py-[.7rem];
}

.skill-card {
  @apply bg-white min-w-[20rem] aspect-square;
}



.skill-card .list-count {
  @apply font-mono text-3xl;
}

.project-card {
  @apply bg-white max-w-[20rem] aspect-[2/3];
}



.project-card .list-count {
  @apply font-mono text-3xl;
}

.nav {
  margin: 0;
  padding: 0;
}

.nav li {
  list-style: none;
  display: inline-block;
}

.nav li a {
  padding: 0.5rem 2rem;
  @apply font-bold;
}

.nav li a:hover {
  border-bottom: 0.3rem solid white;
}
